@{
    ViewData["Title"] = "Detalhes do caminhão";
}
@model Caminhao
<div class="text-center">
    <h1 class="display-4">Detalhes do caminhão</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="d-grid gap-2 d-md-flex justify-content-md-start" >
    <a class="btn-primary" asp-controller="NewViews" asp-action="Create" role="button" >Adicionar Novo Caminhão</a>
</div>
<div>
    <table class="table">
    <thead>
        <tr>
            <th scope="col">Id#</th>
            <th scope="col" >Nome</th>
            <th scope="col" >Descrição</th>
            <th scope="col" >Data de Criação</th>
            <th scope="col" >Modelo</th>
        </tr>
    </thead>
    <tbody>
                <tr>
            <td>@Model.Id</td>
            <td>@Model.Nome </td>
            <td>@Model.Descricao</td>
            <td>@Model.DataCriacao</td>
            <td>@Model.Modelo</td>
        </tr>
            
        </tbody>
    </table>
</div>
