@{
    ViewData["Title"] = "Listagem caminhões";
}
@model IEnumerable<Caminhao>

@if(TempData["MensagemSucesso"] != null)
{
<div class="alert alert-success" role="alert">
    <button type="button" class="btn btn-danger btn-sm close-alert " aria-label="Close" >X</button>
  @TempData["MensagemSucesso"]
</div>
}
@if (TempData["MensagemErro"] != null)
{
<div class="alert alert-danger" role="alert">
    <button type="button" class="btn btn-danger btn-sm close-alert " aria-label="Close" >X</button>
  @TempData["MensagemErro"]
</div>
}
<br />

<div class="text-center">
    <h1 class="display-4">Listagem de Caminhões</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="d-grid gap-2 d-md-flex justify-content-md-start" >
    <a class="btn btn-dark btn-block" asp-controller="NewViews" asp-action="Create" role="button" >Adicionar Novo Caminhão</a>
</div>
<div>
    <table class="table">
    <thead>
        <tr>
           
            <th scope="col" >Nome</th>
            <th scope="col" >Descrição</th>
            <th scope="col" >Data de Criação</th>
            <th scope="col" >Modelo</th>
        </tr>
    </thead>
    <tbody>
            @foreach(var item in Model)
            {
        <tr>
            <td>@item.Nome</td>
            <td>@item.Descricao</td>
            <td>@item.DataCriacao</td>
            <td>@item.Modelo </td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                     <a role="button" asp-route-id="@item.Id" asp-controller="NewViews" asp-action="Edit" class="btn btn-primary" >Editar</a>
                    <a role="button" asp-route-id="@item.Id"  asp-controller="NewViews" asp-action="Details" class="btn btn-secondary" >Detalhes</a>
                     <a role="button" asp-route-id="@item.Id" asp-controller="NewViews" asp-action="Delete" class="btn btn-danger" >Comprar</a>
                </div>
            </td>
        </tr>
            }

    </tbody>
    </table>
</div>

